h1{
    background-color: black;
    color: white;
    font-family: cursive;
}
h2{
    background-color: purple;
    color: white;
    font-family: monospace;
    text-align: center;
    font-size: larger;
    text-decoration: underline;
}
h3{
    background-color: cadetblue;
    color:darkmagenta;
    text-decoration-line: underline;
    text-align: right;
}
span{
    color: aqua;
    
}

